body {
    padding: 10px;
    background: #ffe;
}
.grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto 1% 60%;
    border: 1px solid black;
    min-height: 250px;
    height: 350px; /* To have a div max size */
    position: relative;
}
@media(max-width: 992px) {
    .grid {
        grid-template-columns: auto;
    }
    .gridRight {
        height: 100%;
    }
  }
%grid-item {
    text-align: center;
    vertical-align: middle;
}
hr.new4 {
    background-image:   linear-gradient(to left, rgb(228, 154, 17) 20%,rgb(219, 163, 150)40%, rgb(97, 50, 38) 50%,rgba(219, 163, 150, 1)60%, rgba(228, 154, 17, 1) 80%); 
                    /*linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%); */
                    /* 1 or more lines with the gradient colors, space between them*/
    background-size: 100% 3px; /* Size of the line itself 3px and how big according to the box*/
    background-position: 0% 100%, 0% 0%; /* wich side the line is */
    background-repeat: no-repeat;
}
.gridLeft {
    @extend %grid-item;
    padding:10px;
    margin: 10px;
    max-height: 330px; /* To have a div max size that is smaller than the parent div*/
    display: flex;/* display and justify to center the image inside the div */
    justify-content: center;
}
.gridMid {
    @extend %grid-item;
    margin:10px;
    border: 1px solid black;
}
.gridRight {
    @extend %grid-item;
    margin: 10px;
    position: relative; /* To have a relative div so the spans inside (ex:foottext) will be easy to set wherever we want*/
    max-height: 330px;
    border:2px solid black;
}
.parent img {
    max-height: 100%;
    max-width: 100%;
 }
.foottext {
    color: #696969;
    font-size: 11px;
    position: absolute; bottom:0; right:0;
}
%activelisting{
    /* sets the background image and allows the gradient lines in my project*/
    background-image:   linear-gradient(to left, rgba(255, 255, 238, 1) 20%,rgba(234, 83, 50, 1)40%, rgb(247, 53, 10) 50%,rgba(234, 83, 50, 1)60%, rgba(255, 255, 238, 1) 80%); 
                    /*linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%); */
                    /* 1 or more lines with the gradient colors, space between them*/
    background-size: 100% 3px; /* Size of the line itself 3px and how big according to the box*/
    background-position: 0% 100%, 0% 0%; /* wich side the line is */
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    font-size: 16px;
    justify-content: center; /* To center the text inside the div */
}
.fireColor {
    color: #e25822;
}
.imageBlur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
    position: absolute;
    left: 0px;
    top: 50px;
    width:100%;
    height:300px;
}
.titleSpan {
    @extend %activelisting;
    position: absolute; top:0; left:0;
    min-height: 50px;
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
        color:#353935;
        &:hover{
            text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        }
    }
}
.descriptionSpan {
    @extend %activelisting;
    position: absolute; top: 50px; left:0;
    margin-bottom: 10px;
    text-align: justify;
    text-overflow: ellipsis;/* ajoute ... au texte qui depasse de la zone horizontalement(clip, ellipsis, "-", "", ...etc),*/
    overflow: hidden;/* gère la manière dont le texte en plus est geré veeticalement(visible, hidden, scroll, auto, ...etc)*/
    /*Below the display for more line than 1 line before ellipsis('...')*/
    display: -webkit-box;
        max-width: 100%;
        height: 180px;
        -webkit-line-clamp: 7;/* Number of lines to show*/
        -webkit-box-orient: vertical;
        line-height: 1.625;      
    white-space: pre-wrap;/* Comment sont gérés les blancs (espaces, saut de ligne etc..), usefull for a 1 line ellipsis*/
}
%colorWhite {
    color:white;
}
.descriptionSpan2 {
    @extend %activelisting;
    @extend %colorWhite;
    position: absolute; top: 50px; left:0;
    margin-bottom: 10px;
    text-align: justify;
    text-overflow: ellipsis;/* ajoute ... au texte qui depasse de la zone horizontalement(clip, ellipsis, "-", "", ...etc),*/
    overflow: hidden;/* gère la manière dont le texte en plus est geré veeticalement(visible, hidden, scroll, auto, ...etc)*/
    /*Below the display for more line than 1 line before ellipsis('...')*/
    display: -webkit-box;
        max-width: 100%;
        height: 180px;
        -webkit-line-clamp: 7;/* Number of lines to show*/
        -webkit-box-orient: vertical;
        line-height: 1.625;      
    white-space: pre-wrap;/* Comment sont gérés les blancs (espaces, saut de ligne etc..), usefull for a 1 line ellipsis*/
}
.priceSpan {
    @extend %activelisting;
    position: absolute; top: 230px; left:0;
    height: 30px;
}
.priceSpan2 {
    @extend %activelisting;
    @extend %colorWhite;
    position: absolute; top: 230px; left:0;
    height: 30px;
}
.currentPrice {
    @extend %activelisting;
    position: absolute; top: 260px; left:0;
    height: 30px;
}
.currentPrice2 {
    @extend %activelisting;
    @extend %colorWhite;
    position: absolute; top: 260px; left:0;
    height: 30px;
}
.fire {
    position: absolute; top:0; left:0;
}
