{% extends "auctions/layout.html" %}

{% block body %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>    
    {% endfor %}
{% endif %}

<h2>Active Listings</h2>

{% if user.is_authenticated%}


    <h4 class="fireColor">Auctions on Fire:</h4>
    
    {% if not listingOF %}
        <h5>None so far!</h5>
    {% else %}
        {% for list in listingOF %}
            <ol>
                <div class="grid">
                    <div class="gridLeft parent d-none d-lg-block">
                        {% if list.item.image_url %}
                            <img src="{{ list.item.image_url }}">
                        {% endif %}
                    </div>
                    <div class="gridMid d-none d-lg-block"></div>
                    <div class="gridRight">
                        <span class="titleSpan"><strong><a href="{% url 'itemPage' list.item.id list.item.title %}">
                            <img src="/static/auctions/images/fire.jpeg" alt="fire" width="20px"> 
                            {{list.item.title}}</a></strong></span>
                        <span class="descriptionSpan">{{list.item.description}}</span>
                        <span class="priceSpan">Starting price: {{list.bid.price}}</span>
                        <span class="currentPrice">
                        {% if list.bid.current %}
                            current price: {{list.bid.current}}
                        {% else %}
                            Nobody bid on this article yet. 
                        {% endif %}
                        </span>
                        <span class="foottext"><i>auction created on {{list.item.date_created}} by {{list.item.user}}</i>
                        </span>
                    </div>
                </div>
            </ol>
            <hr class="new4">         
        {% endfor %}
    {% endif %}

    <h4 class="fireColor">Auctions:</h4>
    {% if not listingNOF %}
            <h5>None so far!</h5>
    {% else %}
        {% for list in listingNOF %}
            <ol>
                <div class="grid">
                    <div class="gridLeft parent d-none d-lg-block">
                        {% if list.item.image_url %}
                            <img src="{{ list.item.image_url }}">
                        {% endif %}
                    </div>
                    <div class="gridMid d-none d-lg-block"></div>
                    <div class="gridRight">
                        <span class="titleSpan"><strong><a href="{% url 'itemPage' list.item.id list.item.title %}">
                            {{list.item.title}}</a></strong></span>
                        <span class="descriptionSpan">{{list.item.description}}</span>
                        <span class="priceSpan">Starting price: {{list.bid.price}}</span>
                        <span class="currentPrice">
                        {% if list.bid.current %}
                            current price: {{list.bid.current}}
                        {% else %}
                            Nobody bid on this article yet. 
                        {% endif %}
                        </span>
                        <span class="foottext"><i>auction created on {{list.item.date_created}} by {{list.item.user}}</i>
                        </span>
                    </div>
                </div>
            </ol>
        {% endfor %}
    {% endif %}

{% else %}

    <h4 class="fireColor">Auctions on Fire:</h4>
    {% if not itemOF %}
            <h6>None so far!</h6>
    {% endif %}

    {% for list in listing %}
        {% for item in itemSelected %}
            {% if item.id == list.item.id %}
                {% if item.onFire %}
                    <ol>
                        <div>
                            <div class="grid">
                                <img src="/static/auctions/images/blur.jpeg" height="100%" alt="blur" class="imageBlur">
                                <div class="gridLeft parent d-none d-lg-block">
                                    {% if list.item.image_url %}
                                        <img src="{{ list.item.image_url }}">
                                    {% endif %}
                                </div>
                                <div class="gridMid d-none d-lg-block"></div>
                                <div class="gridRight">
                                    <span class="titleSpan"><strong><img src="/static/auctions/images/fire.jpeg" alt="fire" width="20px"> 
                                        {{list.item.title}}</strong></span>
                                    <span class="descriptionSpan2">To see more about this hot deal, please register to the website for <strong>free</strong></span>
                                    <span class="priceSpan2">Starting price: ??</span>
                                    <span class="currentPrice2">
                                    ??
                                    </span>
                                    <span class="foottext"><i>auction created on {{list.item.date_created}} by {{list.item.user}}</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ol>
                    <hr class="new4">
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <h4 class="fireColor">Auctions:</h4>
    {% if not itemNOF %}
            <h6>None so far!</h6>
    {% endif %}

    {% for list in listing %}
        {% for item in itemSelected %}
            {% if item.id == list.item.id %}
                {% if not item.onFire %}
                    <ol>
                        <div class="grid">
                            <div class="gridLeft parent d-none d-lg-block">
                                {% if list.item.image_url %}
                                    <img src="{{ list.item.image_url }}">
                                {% endif %}
                            </div>
                            <div class="gridMid d-none d-lg-block"></div>
                            <div class="gridRight">
                                <span class="titleSpan"><strong>{{list.item.title}}</strong></span>
                                <span class="descriptionSpan">{{list.item.description}}</span>
                                <span class="priceSpan">Starting price: {{list.bid.price}}</span>
                                <span class="currentPrice">
                                {% if bid.current != None %}
                                    current price: {{bid.current}}
                                {% else %}
                                    Nobody bid on this article yet. 
                                {% endif %}
                                </span>
                                <span class="foottext"><i>auction created on {{list.item.date_created}} by {{list.item.user}}</i>
                                </span>
                            </div>
                        </div>
                    </ol>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endif %}        
{% endblock %}