{% extends "auctions/layout.html" %}

{% block body %}

<h2>Watchlist</h2>

<h6>Active auctions</h6>
{% for item in itemSold %}
    {% for active in opened %}
        {% if item.id == active.item.id %}
            {% for watch in watches %}
                {% if item.id == watch.item.id %}
                    {% if watch.watch %}
                        <ol>
                            <div>
                            </div>
                            <div class="grid">
                                <div class="gridLeft parent d-none d-lg-block">
                                    {% if watch.item.image_url %}
                                        <img src="{{ watch.item.image_url }}">
                                    {% endif %}
                                </div>
                                <div class="gridMid d-none d-lg-block"></div>
                                <div class="gridRight">
                                    <span class="titleSpan"><strong><a href="{% url 'itemPage' item.id item.title %}">
                                        {% if active.onFire %}
                                            <img src="/static/auctions/images/fire.jpeg" alt="fire" width="20px"> 
                                        {% endif %}
                                        {{watch.item.title}}</a></strong></span>
                                    <span class="descriptionSpan">{{watch.item.description}}</span>
                                    <span class="priceSpan">Starting price: {{active.bid.price}}</span>
                                    <span class="currentPrice">
                                    {% if active.bid.current %}
                                        current price: {{active.bid.current}}
                                    {% else %}
                                        Nobody bid on this article yet. 
                                    {% endif %}
                                    </span>
                                    <span class="foottext"><i>auction created on {{active.item.date_created}} by {{active.item.user}}</i>
                                    </span>
                                </div>
                            </div>
                        </ol>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
<hr class="new4">
<h6>Closed auctions</h6>
{% for item in itemSold %}
    {% for close in closed %}
        {% if item.id == close.item.id %}
            {% for watch in watches %}
                {% if item.id == watch.item.id %}
                    {% if watch.watch %}
                        <ol>
                            <div>
                            </div>
                            <div class="grid">
                                <div class="gridLeft parent d-none d-lg-block">
                                    {% if watch.item.image_url %}
                                        <img src="{{ watch.item.image_url }}">
                                    {% endif %}
                                </div>
                                <div class="gridMid d-none d-lg-block"></div>
                                <div class="gridRight">
                                    <span class="titleSpan"><strong><a href="{% url 'itemPage' item.id item.title %}">
                                        {% if close.onFire %}
                                            <img src="/static/auctions/images/fire.jpeg" alt="fire" width="20px"> 
                                        {% endif %}
                                        {{watch.item.title}}</a></strong></span>
                                    <span class="descriptionSpan">{{watch.item.description}}</span>
                                    <span class="priceSpan">Auction closed</span>
                                    <span class="currentPrice">
                                    {% if close.bid.current %}
                                        Won by <strong>{{close.bid.userWinning}}</strong> for {{close.bid.current}}.
                                    {% else %}
                                        Nobody bought this article. 
                                    {% endif %}
                                    </span>
                                    <span class="foottext"><i>auction created on {{close.item.date_created}} by {{close.item.user}}</i>
                                    </span>
                                </div>
                            </div>
                        </ol>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}